@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato',
        sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper {
    background: #fff;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.1), 0 30px 60px -40px rgba(0, 0, 0.6);
}

/* signup for style  */

.form {
    padding: 25px 30px;
}

.form-header {
    font-size: 25px;
    font-weight: 700;
    border-radius: 1px solid #6e6e6e;
    padding-bottom: 15px;
}

.form form {
    margin: 25px 0;
}

.form form .error-text {
    color: #800000;
    background: #f8d7da;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #800000;
    display: none;
}


.form form .input input {
    height: 35px;
    width: 100%;
    font-synthesis: 16px;
    padding: 0 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form form .field input {
    outline: none;
}

.form form .name-details {
    display: flex;
}

.form form .name-details .field:first-child {
    margin-right: 10px;
}

.form form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form form .field label {
    margin-bottom: 5px;
}

.form form .image input {
    font-size: 18px;
}

.form form .button input {
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    height: 45px;
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}

.form .link a {
    color: #333333;
}

.form .link a:hover {
    text-decoration: underline;
    color: #0000ff;
}

.form form .field i {
    position: absolute;
    right: 15px;
    color: #cccccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

form form .field i.active::before {
    color: #333;
    content: "/f070";
}

/* user area css  */

.users {
    padding: 20px 25px;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6e6e6e;
    padding: 20px;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details {
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

.users header .logout {
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    background: #333333;
    border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 5px;
    width: calc(100% - 50px);
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.users .search input.active {
    opacity: 0;
    pointer-events: auto;
}

.users .search .text {
    font-size: 18px;
}

.users .search button {
    background: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 45px;
    height: 42px;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search button.active {
    color: #fff;
    background: #333333;
}

.users .search button.active i::before {
    content: "/f00d";
}

/* user list style  */

.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.users-list .chat-box)::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    padding-right: 15px;
    page-break-after: 10px;
    margin-bottom: 15px;
    border-bottom-color: #fffafa;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #6e6e6e;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #008000;
}

/* color to show offline status  */

.users-list a .status-dot.offline {
    color: #00008b;
}

/* chat area css code  */

.chat-area header {
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
    height: 500px;
    background: #fffafa;
    padding: 10px 30px 20px 30px;
    overflow-y: auto;
}

.chat-box .chat {
    margin: 15px;
}

.chat-box .chat p {
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0 16px 16px -16px rgb(0 0 0 / 10%);
    word-wrap: break-word;
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    max-width: calc(100% - 130px);
    margin-left: auto;
}

.outgoing .details p {
    background: #333333;
    color: #fff;
    border-radius: 20px 20px 0px 20px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;

}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    max-width: calc(100% - 130px);
    margin-right: auto;
}

.incoming .details p {
    background: #fff;
    color: #333333;
    border-radius: 20px 20px 20px 0;
}

.chat-area .typing-area {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;

}

.typing-area button {
    background: #333333;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 55px;
    font-size: 19px;
}